/*
.homeimage img{
  margin-top: 0;
  width: 100%;
  height: auto;
  opacity: 0.75

} */

html {
  scroll-behavior: smooth;
  background-color: #D6DBDF;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #D6DBDF;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index:+1;
}

/* Links inside the navbar */
.navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #AEB6BF;
    color: black;
}

/* Container holding the image and the text */
.homesection {
  margin-top: 50px;
  position: relative;
  text-align: center;
  min-height: 100vh;
  background-image: url(coverphoto.jpeg);
  background-size: cover;
  background-color: hsla(0,0%,100%,0.20);
  background-blend-mode: overlay;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered h1 {
  font-family: 'Anton', sans-serif;
  font-size: 30pt;
  color: black;
  opacity: 1
}
.centered p {
  font-family: 'Oswald', sans-serif;

    font-size: 16pt;
    color: black;
    opacity: 1
}

.centered hr{
  background-color: white !important;
  color: white !important;
  border: solid 2px white !important;
  height: 3px !important;
  opacity: 0.7;
}

.ABOUTMESECTION{
  margin-top: 0px;
  background-color: #AEB6BF;
  min-height: 100vh;

}

.ABOUTMESECTION .profilepic{
    width: 300px;
    height: auto;
    padding: 20px;
    border-radius: 50%;
}

.ABOUTMESECTION .aboutmetext{
  padding: 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 12pt;
  color: black;
}

.ABOUTMESECTION .aboutmetext .sectiontitle{
  margin-top: 40px;
  font-family: 'Oswald', sans-serif;
  color: black;
  text-align: center;
}

.ABOUTMESECTION hr{
  background-color: white !important;
  color: white !important;
  border: solid 2px white !important;
  height: 3px !important;
  opacity: 0.7;
  width: 15% !important;
}

.ABOUTMESECTION .col-md-4 img{
  width: 60px;
  margin-bottom: 10px;
}


.ABOUTMESECTION .col-md-4 p{
  padding: 20px;
  background-color: white;
  opacity: 0.7

}

.ABOUTMESECTION .col-md-4 p a{
  color: black;
}

.ABOUTMESECTION .col-md-4 p a::after{
  color: black
}

.ABOUTMESECTION .col-md-4 p a:hover{
  color: black;
  text-decoration: underline;
}
/* portfolio CSS */
.PORTFOLIOSECTION{
  min-height: 100vh;
  margin-top: 0px;
  background-color: white;
  /* text-align: center; */
}

.PORTFOLIOSECTION .col-md-4{
  margin-bottom: 80px;
}


.PORTFOLIOSECTION .portfoliotext{
  padding: 20px;
  /* text-align: center; */
}

.PORTFOLIOSECTION .portfoliotext .sectiontitle{
  margin-top: 40px;
  font-family: 'Oswald', sans-serif;
  color: black;
  text-align: center;
}
.PORTFOLIOSECTION hr{
      background-color: #AEB6BF !important;
      color: #AEB6BF !important;
      border: solid 2px #AEB6BF !important;
      height: 4px !important;
      width: 15% !important;
      opacity: 0.7;
}

.PORTFOLIOSECTION img{
  width: 370px;
  opacity: 0.95;
  
}

.PORTFOLIOSECTION p{
  font-family: 'Oswald', sans-serif;
  color: black;
  opacity: 0.7;
  font-size: 11pt;
  margin-top: 15px;
}


.imagewrap {
  position: relative;
  height: 200px;
  width: auto;
}

.imagedescription {
  position:absolute;
  margin:0;
  bottom:0;
  left: 0;
  right: 0;
  text-align: left;
  background: #AEB6BF ;
  padding: 10px;
  color:black;
  visibility: hidden;
  opacity: 1;
  transition: opacity .2s, visibility .2s;
}

.imagewrap:hover .imagedescription {
  visibility: visible;
  opacity: 0.8;
}

/* research section css */

.RESEARCHSECTION{
  min-height: 100vh;
  margin-top: 0px;
  background-color: #AEB6BF;
  text-align: center;
}

.RESEARCHSECTION .researchtext{
  padding: 20px;
  text-align: center;
}

.RESEARCHSECTION .researchtext img{
  width: 250px;
}

.RESEARCHSECTION .researchtext p{
  font-family: 'Oswald', sans-serif;
  font-size: 12pt;
  color: black;
  opacity: 0.7;
}

.RESEARCHSECTION .researchtext p a{
  color: black;

  font-family: 'Oswald', sans-serif;
  font-size: 12pt;

}


.RESEARCHSECTION .researchtext .sectiontitle{
  font-family: 'Oswald', sans-serif;
  color: black;
  margin-top: 40px;
}

.RESEARCHSECTION hr{
  background-color: white !important;
  color: white !important;
  border: solid 2px white !important;
  height: 3px !important;
  opacity: 0.7;
  width: 15% !important;

}

.footer{
  text-align: center;
  padding: 20px;
}

.imagewrap {
  position: relative;
  height: 200px;
  width: 257px;
}

.imagedescription {
  position:absolute;
  margin: 30px;
  bottom:0;
  left: 0;
  right: 0;
  text-align: left;
  background: #AEB6BF ;
  padding: 10px;
  color:black;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.imagewrap:hover .imagedescription {
  visibility: visible;
  opacity: 0.8;
}
